<span class="character_info">
	<a href="" class="">
		<% if isImg %>
		<img src="http://i2.search.daumcdn.net/image03.search/03/hwUILRz9WROugNZdzto1pW3HXMAVSZk64Ny48oXb0f9" alt="" class="user_thumb">
		<% end %>
		<span class="repoter"></span>
		<span class="character_name">캐릭터이름캐릭터이름들감</span>		
	</a>
	
	<span class="server">@키프로사</span>

	<!-- sub info -->
	<span class="sub_info">

		<span class="level">
			<span class="txt_bar">|</span>
			50레벨
		</span>

		<span class="job">
			<span class="txt_bar">|</span>
			초원의 감시자
		</span>

		<span class="blood">
			<span class="txt_bar">|</span>
			하리하란
		</span>
		<%# if isExped %>
		<span class="exped">
			<span class="txt_bar">|</span>
			<i class="icon"></i>
			아에리스타르가르엔
		</span>
		<%# end %>

	</span>
	<!-- //end sub info -->
	<!-- user layer -->
	<span class="user_layer">
		<%# if isLayer %>
		<ul>
			<li>
				<a href="#">홈</a>
			</li>
			<li>
				<a href="#">캐릭터정보</a>
			</li>
			<li>
				<a href="#">캐릭터 비교하기</a>
			</li>
			<li>
				<a href="#">메시지 보내기</a>
			</li>
			<li class="hr">
				<a href="#">메시지 모아보기</a>
			</li>
		</ul>
		<%# end %>
	</span>
	<!-- //end user layer -->
</span>