<% content_for :more_style do %>
<link rel="stylesheet" href="http://localhost:4000/css/obt/common/common.css">
<link rel="stylesheet" href="http://localhost:4000/css/obt/main/main.css">
<style type="text/css">
body{background: #fff;}
.section{
  width: 607px;
}
#dummy_inp{
  position: absolute;
  top:10px;
  left:610px;

}
canvas{
  border:1px dotted #f00;
}
</style>
<% end %>


<script type="text/html" id="main_gird_tmpl">

</script>
<div id="base"></div>
<% content_for :more_script do %>
<%#= javascript_include_tag "back_bone_tests" %>
<script type="text/javascript">
//new Comment_view({model: new Comment_model });
//new Textarea_view({model: new Textarea_model });

var Stage = function(w, h) {
  this.canvas = document.createElement('canvas');
  this.canvas.width = w;
  this.canvas.height = h;
  this.context = this.canvas.getContext('2d');
};
Stage.prototype.addChild = function(bitmap) {
  this.context.drawImage(bitmap, bitmap.x, bitmap.y)
};
var stage = new Stage(500, 500);
document.getElementById('base').appendChild(stage.canvas);

var Bitmap = function(img) {
  this.image = new Image();
  this.image.src = img;
  this.image.x = 10;
  this.image.y = 10;
  this.image.rotation = 0;
};
var bitmap = new Bitmap( 'http://static.naver.net/common/snb/090513/h_naver2.gif' );
bitmap.x = 50;
bitmap.y = 60;
bitmap.rotation = 30;
/*bitmap.addEventListener( 'click', function click( $e ){
alert( $e.target.url ); // a.jpg
} );*/

stage.addChild( bitmap.image );
</script>
<% end %>