<p id="notice"><%= notice %></p>

<p>
  <b>todo:</b>
  <%= @back_bone_test.ToDo %>
</p>


<%= link_to 'Edit', edit_back_bone_test_path(@back_bone_test) %> |
<%= link_to 'Back', back_bone_tests_path %>
